<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devauxarthur.nabegoescrazy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lutin_fou"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chapitre1Bureau"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Indice1"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Indice2"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Indice3"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ConclusionLieu"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ChoixTransport"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ChoixTraineau"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ChoixHelico"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".ChoixKenzo"
            android:screenOrientation="portrait" /><![CDATA[
        />
        />
        ]]>
        <activity
            android:name=".Synopsis"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre3Trajet"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre4Castle"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre4Crocheter"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre4Tour"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre4Escalade"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre4TocToc"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre5Gardien"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre5Bagarre"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre5Esquive"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre5Enigme"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre6Boss"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre6Attaque1"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre6Attaque2"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre6Attaque3"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre6RomainAttaque"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".Chapitre6Revelation"
            android:screenOrientation="portrait" />
        />
        <activity android:name=".Chapitre7TheEnd" />
        <activity android:name=".Fortuite"></activity>
    </application>

</manifest>